#body{
    width: 1600px; 
    height: 800px; 
    background-color: green; 
}
#bodytext{
    width: 1000px; 
    height: 500px; 
    border: 2px solid red; 
    background-color: blue; 
}
#bodytext > p{
    text-align: center;
    color: white;  
}
#bodytext > ul{
    color:orange; 
    font-style: italic; 
}

#white{
    width: 1920px; 
    height: 400px; 
    background-color: white; 
    border: 2px solid black; 
}
.textbox{
    width: 800px; 
    height: 350px; 
    display: inline-block; 
    margin: 20px 50px; 
    vertical-align: top; 
    border-top: 3px solid blue; 
}
.textbox > ul{
    color: #91bade; 
    text-align: center; 
}
.textbox > h2{
    text-align: center; 
}
.textbox > p{
    text-align: center; 
}