#background{
 height: auto; 
 width: 70%; 
 background-color: #d4d2ae; 
 font-size: 24pt; 
 font-weight: bold; 
 text-align: center; 
}
#header{
 height: 60px;
 margin: 10px auto; 
 padding: 20px 10px 10px 10px; 
}

.topimage{
 height: 50px;
 width: 90px; 
 background-color: white; 
}

.bluelist{
 width: 100px; 
 height: 100px; 
 display:inline-block; 
}

.redlist{
    width: 100px; 
    height: 100px; 
    display:inline-block; 
   }

.bluelist > img{
    width: 80px; 
    height: 80px; 
    border-style: solid; 
    background-color: #82b4ee; 
    padding: 10px; 
}

.redlist > img{
    width: 80px; 
    height: 80px; 
    border-style: solid; 
    background-color: #f36870; 
    padding: 10px; 
}