*{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #d8dbd0; 
}
#wrapper{
    /* background-color: #dddfd3;  */
    width: 1732px;
    height: 1302px; 
    padding: 10px; 
    background-color: gray; 
}
.head{
    width: 1700px; 
    height: 200px; 
    background-color: #39b0ac; 
    display: inline-block; 
    margin: 10px;
}
.head > h1{
    display: inline-block; 
    font-size: 30pt; 
    vertical-align: middle; 
    margin-bottom: 200px; 
    color: black; 
}
.head > p{
    color: black; 
    font-size: 20pt; 
    margin: 80px auto; 
    text-align: center; 
}
#icon{
    margin: 35px 10px; 
    display: inline-block; 
}
#space{
    color: #39b0ac; 
}
#headlinks{
    color: white;
    text-decoration: underline;  
    font-size: 20pt; 
    font-weight: normal; 
}
#body{
    width: 1680px; 
    height: 800px; 
    background-color: #fbe691; 
    margin: 10px; 
    padding: 10px; 
}
#bodyleft{
    width: 300px; 
    height: 780px; 
    background-color: #154044; 
    margin: 10px; 
    display: inline-block; 
}
#bodyleft > h1{
    padding: 5px; 
}
#bodyleft > p{
    padding: 10px 5px 10px 20px; 
    font-size: 14pt; 
}
#bodyright{
    width: 1300px; 
    height: 780px; 
    margin: 10px; 
    display: inline-block; 
    vertical-align: top; 
}
.row{
    width: 1200px; 
    height: 250px; 
    margin: 5px auto; 
}
.toprow{
    background-color: #154044; 
    width: 350px; 
    height: 240px; 
    display: inline-block; 
    margin: 0px 20px; 
    vertical-align: top; 
}
.toprow > h4{
    font-size: 18pt; 
    padding: 5px 0px 0px 5px; 
}
.toprow > p{
    font-size: 16pt; 
    padding: 0px 15px 5px 15px; 
}
.midrow{
    background-color: #154044; 
    width: 550px; 
    height: 240px; 
    display: inline-block; 
    margin: 10px 20px; 
}
.midrow > h4{
    font-size: 18pt; 
    padding: 5px 0px 0px 5px; 
}
.midrow > p{
    font-size: 16pt; 
    padding: 0px 15px 5px 15px; 
}
.botrow{
    width: 1150px; 
    height: 230px; 
    background-color: #154044;
    margin: 5px auto; 
    vertical-align: top; 
}
.botrow > h4{
    font-size: 18pt; 
    padding: 5px 0px 0px 5px; 
}
.botrow > p{
    font-size: 16pt; 
    padding: 0px 15px 5px 15px; 
}
.aqua{
    color: #4ad2c2; 
}
.link{
    color: #4e3d95; 
    text-decoration: underline; 
}